<div class="infobox">
  <h1 class="center">Hey there! I'm Dalton Boll</h1>
  <h3 class="center">{Student -- Web Developer -- Software Engineer -- Aspiring Entrepreneur}</h3>
  <!--<hr/> -->

  <div class="col-md-4 center">
  	<%= image_tag("me.png", id: "personal-photo") %>
  </div>

  <div class="col-md-8">
  	<p><strong>Life can get boring sometimes.</strong> Every day can seem like just another day, but why not have some fun with it? I see each day as an electrifying chance to do something amazing. If I had to write my life on paper, I'd bundle these chances into a series of exciting adventures. My current big adventure takes place at the beautiful University of California, Berkeley, where I'm studying Computer Science. Every day is like a dream, and I don't want to wake up!</p>

  	<p>Want to be a part of my adventure? <%= link_to "Get in touch with me", contact_path %> and let's do something incredible together!</p>
  	<div class="social-links center">
  		<span class="social-googleplus social-button">
  		    <a href="https://plus.google.com/+DaltonBoll" target=_blank>
  			    <span class="fa-stack fa-3x">
  			        <i class="fa fa-circle fa-stack-2x"></i>
  			        <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
  			    </span>
  		    </a>
  		</span>

  		<span class="social-twitter social-button">
  		    <a href="https://twitter.com/DaltonBoll" target=_blank>
  			    <span class="fa-stack fa-3x">
  			        <i class="fa fa-circle fa-stack-2x"></i>
  			        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
  			    </span>
  		    </a>
  		</span>

  		<span class="social-linkedin social-button">
  		    <a href="http://www.linkedin.com/in/daltonboll/" target=_blank>
  			    <span class="fa-stack fa-3x">
  			        <i class="fa fa-circle fa-stack-2x"></i>
  			        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
  			    </span>
  		    </a>
  		</span>

  		<span class="social-facebook social-button">
  		    <a href="https://www.facebook.com/dalton.boll" target=_blank>
  			    <span class="fa-stack fa-3x">
  			        <i class="fa fa-circle fa-stack-2x"></i>
  			        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
  			    </span>
  		    </a>
  		</span>

  		<span class="social-github social-button">
  		    <a href="https://github.com/daltonboll" target=_blank>
  			    <span class="fa-stack fa-3x">
  			        <i class="fa fa-circle fa-stack-2x"></i>
  			        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
  			    </span>
  		    </a>
  		</span>
    </div>
  </div>
</div>

<div class="about-content">

  <h2>My recent projects</h2>
  <p>Here's some of my recent projects.</p>
  <p>And more</p>
  <hr/>
  <h3>An hr tag above me.</h3>
  <h3>An hr tag below me.</h3>
  <hr/>
  <p>yep</p>
</div>