<div class="infobox">
  <h1 class="center">Hey there! I'm Dalton Boll</h1>
  <h3 class="center">{Student -- Web Developer -- Software Engineer -- Aspiring Entrepreneur}</h3>
  <hr/>

    <div class="col-md-4 center">
  	<%= image_tag("me.png", id: "personal-photo") %>
  </div>

  <div class="col-md-8">
  	<p><strong>Life can get boring sometimes.</strong> Every day can seem like just another day, but why not have some fun with it? I see every day as an electrifying chance to do something amazing. If I had to write my life on paper, I'd bundle these chances into a series of exciting adventures. My current big adventure takes place at the beatiful University of California, Berkeley, where I'm studying Computer Science. Every day is like a dream, and I don't want to wake up!</p>

  	<p>Want to be a part of my adventure? <%= link_to "Get in touch with me", contact_path %> and let's do something incredible together!</p>
  </div>
  
</div>