<div class="center jumbotron">
  <h1>Hey there! I'm Dalton Boll</h1>

  <h2>
    Take a look around and get to know me.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<div>
	<p>Here is some more text.</p>
</div>