<% provide(:title, @blog_title) %>
<div class="container-fluid center">
  <h1>My Blog</h1>
  <hr/>
  <h2>Hang tight, friend, content will be coming soon!</h2>
  <p>This will be the <em>Blog</em> page, where I'll share my thoughts, ideas, and adventures. Looks like I need to get to work... Moar posts please!</p>
  <%= image_tag("cat-hanging.gif") %>
  <br>
  <br>
</div>
