<% provide(:title, @blog_title) %>
<h1>blog</h1>
<p>
  This will be the <em>Blog</em> page. Moar posts please!
</p>

<p>
  This will be the <em>Blog</em> page. Moar posts please!
</p>

<p>
  This will be the <em>Blog</em> page. Moar posts please!
</p>

<p>
  This will be the <em>Blog</em> page. Moar posts please!
</p>

<p>
  This will be the <em>Blog</em> page. Moar posts please!
</p>

<p>
  This will be the <em>Blog</em> page. Moar posts please!
</p>

<p>
  This will be the <em>Blog</em> page. Moar posts please!
</p>

<p>
  This will be the <em>Blog</em> page. Moar posts please!
</p>

<p>
  This will be the <em>Blog</em> page. Moar posts please!
</p>

<p>
  This will be the <em>Blog</em> page. Moar posts please!
</p>

<p>
  This will be the <em>Blog</em> page. Moar posts please!
</p>

<p>
  This will be the <em>Blog</em> page. Moar posts please!
</p>

<p>
  This will be the <em>Blog</em> page. Moar posts please!
</p>

<p>
  This will be the <em>Blog</em> page. Moar posts please!
</p>

<p>
  This will be the <em>Blog</em> page. Moar posts please!
</p>

<p>
  This will be the <em>Blog</em> page. Moar posts please!
</p>

<p>
  This will be the <em>Blog</em> page. Moar posts please!
</p>

<p>
  This will be the <em>Blog</em> page. Moar posts please!
</p>

<p>
  This will be the <em>Blog</em> page. Moar posts please!
</p>

<p>
  This will be the <em>Blog</em> page. Moar posts please!
</p>

<p>
  This will be the <em>Blog</em> page. Moar posts please!
</p>

<p>
  This will be the <em>Blog</em> page. Moar posts please!
</p>

<p>
  This will be the <em>Blog</em> page. Moar posts please!
</p>

<p>
  This will be the <em>Blog</em> page. Moar posts please!
</p>

<p>
  This will be the <em>Blog</em> page. Moar posts please!
</p>

<p>
  This will be the <em>Blog</em> page. Moar posts please!
</p>

<p>
  This will be the <em>Blog</em> page. Moar posts please!
</p>

<p>
  This will be the <em>Blog</em> page. Moar posts please!
</p>

<p>
  This will be the <em>Blog</em> page. Moar posts please!
</p>

<p>
  This will be the <em>Blog</em> page. Moar posts please!
</p>