<% provide(:title, @contact_title) %>
<div class="container-fluid center">
  <h1>Contact Me</h1>
  <hr/>
  <h2>So you wanna get in touch with me, eh?</h2>
  <p>This will be the <em>Contact</em> page, where you can submit a message to me through a form. While I work on that, feel free to shoot me an email at <strong><a href="mailto:daltonboll@gmail.com">daltonboll@gmail.com</a></strong></p>
  <%= image_tag("sloth-chin.gif") %>
  </br>
  </br>
</div>