<% provide(:title, @message_received_title) %>
<div class="container-fluid center">
  <h1>Thanks for your message!</h1>
  <hr/>
  <h2>Hang tight and I'll be in touch soon.</h2>
  <p><%= link_to "Click here", root_path %> to head back to the home page.</p>
  <%= image_tag("cat-hanging.gif") %>
  <br>
  <br>
</div>