<% provide(:title, @projects_title) %>
<div class="container-fluid center">
  <h1>My Projects</h1>
  <hr/>
  <h2>Looks like I've got some cleaning up to do!</h2>
  <p>This will be my <em>Projects</em> page, where I'll showcase my current projects. I've got some site cleanup to do before I can add these.</p>
  <%= image_tag("corgi-vacuum.gif") %>
  </br>
  </br>
</div>

