<% provide(:title, @projects_title) %>
<div class="container-fluid">
  <h1>My Projects</h1>
  <hr/>
	<a href="https://techmymom.com" target=_blank><h2>Tech My Mom</h2></a>
  <%= link_to image_tag("tech-my-mom-logo.png"), "https://techmymom.com", class: "center-image" %>
  <p><a href="https://techmymom.com" target=_blank>Tech My Mom</a> is my dream project. One of my biggest goals in life is to eliminate the so-called "technology intimidation factor," which is essentially a fear of using technology, or a resistance to adapting to a world in which technology has come to play a huge part in our lives. The technology intimidation factor is especially present in older generations.</p>

  <p>Many people in these generations hate technology because it's new and difficult to understand at first glance. Life got on fine before computers and smartphones came along, so why bother to try and learn how to use it now?</p>

  <p>My mom, like many others, tries to use technology, but she just can't seem to get a grasp on it. When something appears to go wrong (the screen freezes, a window disappears, she can't find a button, etc.), she panics and gets frustrated with the computer (and rightly so!). I want to help people like my mom to think like the "kids these days" who grow up using an iPad at the age of 2. I don't want them to be frustrated with technology and give up on it, and here's why:<p>

  <p>The world of technology can seem daunting, hectic, and distracting, but underneath it all is something that can change people's lives for the better. It can make people more efficient in their work and managing their busy schedules. It can improve children's grades through an ever-expanding array of knowledge sources and interactive learning applications. It can bring unlimited forms of entertainment to people anywhere, even on the go. It can keep people in touch with relatives and old friends, or even long-lost classmates from back in high school. I could go on and on.</p>

  <p>Ultimately, what I'm trying to say, is that <strong><em>technology can make people happy.</em></strong> Given the right direction, I know people like my mom can learn to love technology for all of the beauty that it can bring to the table, instead of being intimidated or annoyed by it. I know that they can say that, "hey, this stuff isn't so bad afterall. It's actually kinda cool and useful" - but it'll take some work to get there.</p>

  <p>No one likes change, and I recognize the fact that people like my mom have sort of been left stranded to try and figure technology out on their own. I have yet to find quality "beginner guides" out there that can help people get comfortable with using technology in their day-to-day lives. This is where Tech My Mom comes into play. Tech My Mom will hopefully be the place where those who are struggling with the tech learning curve can go to take away their frustration. Slow-paced videos, text guides, lots of pictures, community forums, and my personal one-on-one help will all be a part of Tech My Mom (and all for free!)</p>

  <p>I originally built <a href="https://techmymom.com" target=_blank>techmymom.com</a> on the WordPress platform, but my next big step is to migrate it to run on the Ruby on Rails framework. After that, it's all about creating the content for the site (which actually takes a lot of time and effort!). I hope to have migrated the site to Ruby on Rails and have 10 hours of content up by June of 2015. Let's make it happen!</p>

  <p>"If I can <strong><em>tech</em></strong> my mom, then I can <strong><em>tech</em></strong> you, too!"</p>


</div>

