<% provide(:title, @resume_title) %>
<div class="container-fluid center">
  <h1>My Resume</h1>
  <hr/>
  <h2>Uffda, guess there's nothing to see here yet...</h2>
  <p>This will be my <em>Resume</em> page, where you can see my past experience in a clean layout. I'll also provide a downloadable pdf copy of my resume, coming soon!</p>
  <%= image_tag("yawning-puppies.gif") %>
  </br>
  </br>
</div>
