<% provide(:title, @resume_title) %>
<div class="container-fluid center">
  <h1>My Resume</h1>
  <hr/>
  <h2>Uffda, guess there's not much to see here yet...</h2>
  <p>This will be my <em>Resume</em> page, where you can see my past experience in a clean layout. While I work on that, feel free to take a look at the <%= link_to "pdf version of my resume", "Dalton_Boll_Resume.pdf", target: "_blank" %>.</p>
  <%= image_tag("yawning-puppies.gif") %>
  <br>
  <br>
</div>
