<% provide(:title, @resume_title) %>
<div class="container-fluid">
  <h1>My Resume</h1>
  <h6 class="center">Click <%= link_to "here", "Dalton_Boll_Resume.pdf", target: "_blank" %> for a pdf version of my resume</h6>
  <hr/>
  <div class="padded-content">
    <h2 class="left-align resume-heading">EDUCATION</h2>
    <div class="row">
      <div class="col-md-8">
        <h5 class="no-margin-bottom">University of California, Berkeley</h5>
      </div>
      <div class="col-md-4">
        <h6 class="no-margin-bottom right-align">2012 - Present</h6>
      </div>
    </div>
    <h6 class="resume-subheading"><em>Bachelor of Arts in Computer Science expected May 2016</em></h6>
    <ul>
      <li>3.534 GPA</li>
      <li>Relevant Courses: The Structure and Interpretation of Computer Programs (Python, Scheme), Data Structures
      (Java), Machine Structures (C, MIPS), Linear Algebra and Differential Equations, Introduction to the Internet:
      Architecture and Protocols (Python), Introduction to Artificial Intelligence (Python), Discrete Mathematics and
      Probability, Ruby on Rails Web Development (Ruby, Rails)</li>
    </ul>
  </div>
  <hr/>
  <div class="padded-content">
    <h2 class="left-align resume-heading">EXPERIENCE</h2>
    <div class="row">
      <div class="col-md-8">
        <h5 class="no-margin-bottom">Epic Systems</h5>
        <h6 class="resume-subheading"><em>Computer and Technology Services Intern</em></h6>
      </div>

      <div class="col-md-4">
        <h6 class="no-margin-bottom right-align">Summer 2013</h6>
      </div>
    </div>
    <ul>
      <li>Worked with the head of the CaTS team to design an Excel spreadsheet processor in C# in an attempt to save thousands of dollars in suspicious MiFi travelling charge discrepancies</li>
      <li>Developed a new CaTS website using C#.NET and the ASP.NET Web Forms Framework with new features, including stock counters, storage info, and equipment requests, all complete with barcode scanning integration</li>
      <li>Was given more responsibility in the training and advising of new interns on the CaTS team</li>
    </ul>
    </br>
    <div class="row">
      <div class="col-md-8">
        <h5 class="no-margin-bottom">Epic Systems</h5>
        <h6 class="resume-subheading"><em>Computer and Technology Services Intern</em></h6>
      </div>
      <div class="col-md-4">
        <h6 class="no-margin-bottom right-align">Summer 2012</h6>
      </div>
    </div>
    <ul>
      <li>Provided immediate technical support with computer hardware and Windows 7 for senior Epic employees</li>
      <li>Prepared the configuration and deployment of software and hardware for almost 1000 new Epic employees</li>
      <li>Set up and configured hundreds of ThinOS thin client workstations which host Epic’s software training programs</li>
    </ul>
  </div>
  <hr/>
  <div class="padded-content">
    <h2 class="left-align resume-heading">PROJECTS</h2>
    <div class="row">
      <div class="col-md-8">
        <h5 class="no-margin-bottom">daltonboll.com</h5>
      </div>
      <div class="col-md-4">
        <h6 class="no-margin-bottom right-align">2015 - Present</h6>
      </div>
    </div>
    <ul>
      <li>My personal website and blog built using Ruby on Rails, Bootstrap, Sass, and Heroku</li>
    </ul>
    </br>
    <div class="row">
      <div class="col-md-8">
        <h5 class="no-margin-bottom">techmymom.com</h5>
      </div>
      <div class="col-md-4">
        <h6 class="no-margin-bottom right-align">2014 - Present</h6>
      </div>
    </div>
    <ul>
      <li>An ongoing project where I teach the technologically impaired to learn how to use technology and incorporate it into their daily lives through friendly videos and tutorials. Built using custom WordPress templates, and currently migrating to Ruby on Rails</li>
    </ul>
    </br>
    <div class="row">
      <div class="col-md-8">
        <h5 class="no-margin-bottom">phitaubearpong.com</h5>
      </div>
      <div class="col-md-4">
        <h6 class="no-margin-bottom right-align">2014 - Present</h6>
      </div>
    </div>
    <ul>
      <li>An online portal where students can register to play in Phi Kappa Tau’s annual philanthropy tournament, purchases tanks, and get information about the event. Built using custom WordPress templates</li>
    </ul>
    </br>
  </div>
  <hr/>
  <div class="padded-content">
    <h2 class="left-align resume-heading">LEADERSHIP</h2>
    <div class="row">
      <div class="col-md-8">
        <h5 class="no-margin-bottom">Phi Kappa Tau</h5>
      </div>

      <div class="col-md-4">
        <h6 class="no-margin-bottom right-align">2013 - 2014</h6>
      </div>
    </div>
    <ul>
      <li><em>Philanthropy Chair</em>: Organized our chapter’s first successful fundraiser in many years, raising thousands of dollars for SeriousFun Children’s Network. Developed the event website phitaubearpong.com (2014)</li>
      <li><em>Recruitment Chair</em>: Advised brothers and planned events during rush week that led to the recruitment of 13 new members (2014)</li>
      <li><em>Risk Manager</em>: Worked with the local fire department and police department to enforce security protocols (2013)</li>
    </ul>
    </br>
    <div class="row">
      <div class="col-md-8">
        <h5 class="no-margin-bottom">Maple Leaf Cheese and Chocolate Haus</h5>
      </div>
      <div class="col-md-4">
        <h6 class="no-margin-bottom right-align">2008 - 2012</h6>
      </div>
    </div>
    <ul>
      <li><em>Assistant Manager (promoted 2010)</em>: Supervised employees, sales, customer service, and the production of holiday orders. Often ran the business while my employers were out of town</li>
    </ul>
  </div>
  <hr/>
  <div class="padded-content">
    <h2 class="left-align resume-heading">SKILLS</h2>
    <h5 class="no-margin-bottom">Languages and Frameworks</h5>
    <ul>
      <li><em>Proficient</em>: Python, Java</li>
      <li><em>Intermediate</em>: C, Ruby, Ruby on Rails, HTML5, CSS3, Sass</li>
      <li><em>Some Prior Experience</em>: JavaScript, jQuery, PHP, C#</li>
    </ul>
  </div>
  </br>
</div>
