<h1>404 - Page Not Found</h1>
<hr/>
<h3 class="center">Hang tight! It'll be okay!</h3>
<div class="container-fluid">
  <div class="padded-content">
    <p class="center-paragraph">Woops! Looks like you tried to access a page that doesn't exist. Click <%= link_to "here", root_path %> to head back to the homepage. Or you could just hang out here for a while longer. No rush. :)</p>
    <%= image_tag("cat-hanging.gif", class: "center-image") %>
    <br>
    <br>
  </div>
</div>