<h1>500 - Internal Server Error</h1>
<hr/>
<h3 class="center">Looks like I've got some cleaning up to do!</h3>
<div class="container-fluid">
  <div class="padded-content">
    <p class="center">Uh-oh, something's broken. I'm working on cleaning up this mess, sorry about that! <%= link_to "Click here", root_path %> to head back to the homepage. </p>
    <%= image_tag("corgi-vacuum.gif", class: "center-image") %>
    <br>
    <br>
  </div>
</div>