<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>A new message has been submitted through the contact form at daltonboll.com/contact:</p>
    <hr/>
    <p><strong>Name: </strong><%= @msg.name %></p>
    <p><strong>Email: </strong><%= @msg.email %></p>
    <p>"<%= @msg.content %>"</p>
    <hr/>
  </body>
</html>