// for nav menu toggle
$grid-float-breakpoint: 1050px;
@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;
$washed-blue: #87A4FA;
$washed-blue-light: #AFC2FA;
$washed-orange: #FA995C;
$washed-gray-dark: #474747;
$sky-gray: #EEEEEE;
$twitter-color: #58ACEB;
$linkedin-color: #2E8DD7;
$facebook-color: #4965A0;
$googleplus-color: #DD4B39;
$github-color: #323131;
$fancy-font: 'Open Sans', sans-serif;
/* $header-font: 'Rokkitt', serif; */

/* universal */
body {
  padding-top: 70px;
  background-image: url(background-blur-compressed.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-familY: $fancy-font;
}

.container {
  font-family: $fancy-font;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  
  h1 {
    margin-bottom: 10px;
  }
}

#content {
  overflow: auto;
  background-color: white;
  margin: auto;
  margin-bottom: 20px;
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
}


/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: $fancy-font;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

h3 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  margin: 6px;
  margin-bottom: 10px;
}


/* header */
#logo {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  padding-bottom: 10px;
  font-weight: bold;
  font-family: $fancy-font;
  
  &:hover {
    text-decoration: none;
  }
}

.navbar {
  background-color: $washed-gray-dark;
}

.navbar-inverse .navbar-nav > li > a {
  font-family: $fancy-font;
  color: white;
  font-size: 1.5em;
  padding-top: 17px;
  padding-bottom: 12px;
  padding-right: 13px;
  padding-left: 13px;
  
  &:hover {
    border: none;
    border-bottom: thick solid $washed-blue;
  }
}

.navbar-inverse .navbar-nav > .active-page > a,
.navbar-inverse .navbar-nav > .active-page > a:hover,
.navbar-inverse .navbar-nav > .active-page > a:focus {
  border: none;
  border-bottom: thick solid $washed-blue;
  background: none;
  background-color: transparent;
}

/* about page */
.info-box {
  margin: auto;
}

.about-content > h1, h2, h3, h4, h5, h6 {
  color: black;
}

#personal-photo {
  margin: 5px;
}

.social-links {
  margin: 5px;
  margin-bottom: 10px;
}

.social-button > a:hover {
  opacity: 0.9;
  text-decoration: none;
}

.social-twitter > a {
  color: $twitter-color;
}

.social-facebook > a {
  color: $facebook-color;
}

.social-googleplus > a {
  color: $googleplus-color;
}

.social-linkedin > a {
  color: $linkedin-color;
}

.social-github > a {
  color: $github-color;
}

/* footer */
#footer-bar {
  height: 110px;
  bottom: 0;
  width: 100%;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  background-color: white;
  
  a {
    color: $gray;
    
    &:hover {
      color: $gray-darker;
    }
  }
  
  small {
    float: left;
  }
  
  ul {
    float: right;
    list-style: none;
    
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

#social-box {
  color: white;
  margin: auto;
  position: relative;
  height: 110px;
  background-image: url(blue-transparent.png);
  width: 100%;

  h1, h2, h3, h4, h5, h6 {
    color: white;
  }
  
}