// for nav menu toggle
$grid-float-breakpoint: 1050px;
@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;
$washed-blue: #87A4FA;
$washed-blue-light: #AFC2FA;
$washed-orange: #FA995C;
$washed-gray-dark: #474747;
$sky-gray: #EEEEEE;
$fancy-font: 'Open Sans', sans-serif;
/* $header-font: 'Rokkitt', serif; */

/* universal */
body {
  padding-top: 70px;
  background-image: url(background-blur-compressed.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-familY: $fancy-font;
}

.container {
  font-family: $fancy-font;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  
  h1 {
    margin-bottom: 10px;
  }
}

#content {
  //font-family: 'Open Sans', sans-serif;
  overflow: auto;
  background-color: white;
  margin: auto;
  //margin-top: 3em;
  //position: relative;
  margin-bottom: 20px;
  //padding-bottom: 80px; /* Needed to keep footer at bottom of page */
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
}


/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: $fancy-font;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

h3 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  margin: 6px;
  margin-bottom: 10px;
}


/* header */
#logo {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  padding-bottom: 10px;
  /*
  padding-bottom: 10px;
  padding-right: 6px;
  padding-left: 6px;
  */
  font-weight: bold;
  font-family: $fancy-font;
  
  &:hover {
    text-decoration: none;
    //background-color: #656565;
  }
}

.navbar {
  background-color: $washed-gray-dark;
}

.navbar-inverse .navbar-nav > li > a {
  font-family: $fancy-font;
  color: white;
  font-size: 1.5em;
  padding-top: 17px;
  padding-bottom: 12px;
  padding-right: 13px;
  padding-left: 13px;
  
  &:hover {
    border: none;
    border-bottom: thick solid $washed-blue;
  }
}

.navbar-inverse .navbar-nav > .active-page > a,
.navbar-inverse .navbar-nav > .active-page > a:hover,
.navbar-inverse .navbar-nav > .active-page > a:focus {
  border: none;
  border-bottom: thick solid $washed-blue;
  background: none;
  background-color: transparent;
}

/* infobox */
#personal-photo {
  margin: 5px;
}

/* footer */
#footer-bar {
  height: 110px;
  bottom: 0;
  width: 100%;
  //margin-top: 0px;
  //position: absolute;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  background-color: white;
  
  a {
    color: $gray;
    
    &:hover {
      color: $gray-darker;
    }
  }
  
  small {
    float: left;
  }
  
  ul {
    float: right;
    list-style: none;
    
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

#social-box {
  //font-family: 'Open Sans', sans-serif;
  color: white;
  margin: auto;
  position: relative;
  height: 110px;
  background-image: url(blue-transparent.png);
  width: 100%;

  h1, h2, h3, h4, h5, h6 {
    color: white;
  }
  
}