// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Header and NavBar */

/*
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #00a087;
}

.navbar .navbar-links {
  float: right;
}

.navbar .logo {
  float: left;
}
 
.navbar .navbar-links ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.navbar .navbar-links li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.navbar .navbar-links a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.navbar .navbar-links a:hover {
  background-color: #005f5f;
}
 
.navbar .navbar-links a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .navbar .navbar-links li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
  
  */
  
  
 
  /* Option 1 - Display Inline */
  /*
  .navbar .navbar-links li {
    display: inline-block;
    margin-right: -4px;
  }
  */
  
 
  /* Options 2 - Float
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }
  
}
*/

/* Container (Body) */

/*
.container {
  padding-top: 50px;
}
*/