<footer class="footer">
  <small>
    A Personal Website by Dalton Boll
  </small>
  <nav>
    <ul>
      <% @footer_links.each do |link_text, path| %>
      <li><%= link_to link_text, path %></li>
      <% end %>
    </ul>
  </nav>
</footer>