<footer id="footer">
  <div class="container" id="social-box">
    <h2>This is the feature bar!</h2>
  </div>
  <div class="container" id="footer-bar">
    <small>
      A personal website by Dalton Boll
    </small>
    <nav>
      <ul>
        <% @footer_links.each do |link_text, path| %>
        <li><%= link_to link_text, path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</footer>