<footer id="footer">
  <div class="container-fluid center" id="social-box">
    <h2>Get social and follow me:</h2>
    <ul>
      <span class="social-box-button"><a href="https://plus.google.com/+DaltonBoll" target=_blank><li><i class="fa fa-2x fa-google-plus"></i></li></a></span>
      <span class="social-box-button"><a href="https://twitter.com/DaltonBoll" target=_blank><li><i class="fa fa-2x fa-twitter"></i></li></a></span>
      <span class="social-box-button"><a href="https://www.linkedin.com/in/daltonboll/" target=_blank><li><i class="fa fa-2x fa-linkedin"></i></li></a></span>
      <span class="social-box-button"><a href="https://www.facebook.com/dalton.boll" target=_blank><li><i class="fa fa-2x fa-facebook"></i></li></a></span>
      <span class="social-box-button"><a href="https://github.com/daltonboll" target=_blank><li><i class="fa fa-2x fa-github"></i></li></a></span>
    </ul>
  </div>
  <div class="container-fluid center" id="footer-bar">
    <p>More of my sites:</p>
    <p><a href="http://techmymom.com" target=_blank>techmymom.com</a> | <a href="http://phitaubearpong.com" target=_blank>phitaubearpong.com</a></p>
    <small>A personal website by Dalton Boll &copy;2015</small>
  </div>
</footer>