<header>
    <div class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to image_tag("logo-200x35.png"), root_path, id: "logo" %>
            </div>
            <div class="collapse navbar-collapse" id="#example">
                <ul class="nav navbar-nav navbar-right">
                    <% param_action = params[:action]
                    @header_links.each do |link_text, data|
                        curr_action = data[:action]
                        curr_path = data[:path]
                        # handle active navigation
                        if curr_action == param_action %>
                            <li class="active"><%= link_to link_text, curr_path %></li>
                        <% else %>
                            <li><%= link_to link_text, curr_path %></li>
                        <% end %>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <div class="container">
            <h1>Hello World</h1>
            <h3>Navbar in Bootstrap</h3>
        </div> 
    </div> 
</header>