<!-- <header class="navbar navbar-fixed-top navbar-inverse"> -->
<header>
  <div class="container">
    <%= link_to "Dalton Boll", root_path, id: "logo" %>
    <nav>
      <!-- TODO: CUSTOMIZE THIS -->
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>