<!-- <header class="navbar navbar-fixed-top navbar-inverse"> -->
<header>
    <div class="navbar">
        <!-- TODO: CUSTOMIZE THIS -->
        <div class="logo">
            <%= link_to "Dalton Boll", root_path %>
        </div>
        
        <div class="navbar-links">
            <ul>
                <% @header_links.each do |link_text, path| %>
                <li><%= link_to link_text, path %></li>
                <% end %>
            </ul>
        </div>
    </div>
</header>