<!-- <header class="navbar navbar-fixed-top navbar-inverse"> -->
<header>
  <div class="container">
    <%= link_to "Dalton Boll", root_path, id: "logo" %>
    <nav>
      <!-- TODO: CUSTOMIZE THIS -->
      <ul class="nav navbar-nav navbar-right">
        <% @header_links.each do |link_text, path| %>
        <li><%= link_to link_text, path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>