<header>
    <div class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to image_tag("logo-200x35-compressed.png"), root_path, id: "logo" %>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <% param_action = params[:action]
                    @header_links.each do |link_text, data|
                        curr_action = data[:action]
                        curr_path = data[:path]
                        # handle active navigation
                        if curr_action == param_action %>
                            <li class="active-page"><%= link_to link_text, curr_path %></li>
                        <% else %>
                            <li><%= link_to link_text, curr_path %></li>
                        <% end %>
                    <% end %>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</header>