<header>
	<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mobile-menu">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<%= link_to "Dalton Boll", root_path, id: "logo" %>
			</div>
			<div class="collpase navbar-collapse" id="mobile-menu">
				<ul class="nav navbar-nav navbar-right">
                    <% @header_links.each do |link_text, path| %>
                    <li><%= link_to link_text, path %></li>
                    <% end %>
                </ul>
			</div>

		</div>
	</div>
		<div class="jumbotron">
			<div class="container">
				<h1>Hello World</h1>
				<h3>Navbar in Bootstrap</h3>
			</div> 
		</div> 
</header>