<!DOCTYPE html>
<html>
  <head>
    <title><%= get_page_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Open+Sans' %>
    
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <div id="content">
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
  <%= javascript_include_tag 'application' %>
</html>
